{% extends "base.html" %}

{% block content %}
    <h1>New venue</h1>
	      {% if msg %}
      <div id="errormsg">
	        {% for err in msg %}
		            {{ err }}<br>
	        {% endfor %}
	        </div>
    {% endif %}

		           <form action="/newvenue" method="POST">
                       Venue Name:<br>
                       <input type="text" name="VenueName" /><br><br>

                       Venue Address:<br>
                       <input type="text" name="VenueAddress"  /><br><br>

                       Venue College:<br>
                       <input type="text" name="VenueCollege"  /><br><br>

                       Phone Number (9078889999):<br>
                       <input type="text" name="VenuePhoneNumber" /><br><br>


           			      <br>

           			      <input type="submit" value="Save venue"/>

		          </form>
{% endblock %}
