{% extends "base.html" %}

{% block content %}
    <h1>New event</h1>
	      {% if msg %}
      <div id="errormsg">
	        {% for err in msg %}
		            {{ err }}<br>
	        {% endfor %}
	        </div>
    {% endif %}

		           <form action="/newevent" method="POST">
                       Venue:<br>
                      <select name="VenueID">
                        {% for venue in vl %}
                          <option value="{{ venue.VenueID }}">{{ venue.VenueName }}</option>
                        {% endfor %}
                      </select> <br><br>
                       Event Name:<br>
                       <input type="text" name="name" /><br><br>

                       Event Start Date (YYYY-MM-DD HH:MM:AM/PM):<br>
                       <input datetime="YYYY-MM-DDthh:mm:ss" type="datetime-local" name="start"  /><br><br>

                       Event End Date (YYYY-MM-DD HH:MM:AM/PM):<br>
                       <input datetime="YYYY-MM-DDthh:mm:ss" type="datetime-local" name="end"  /><br><br>


           			      <br>

           			      <input type="submit" value="Save Event"/>

		          </form>
{% endblock %}
